$color-primary: #9E00FF;
$color-primary-light: #E9C4FF;
$color-primary-l2: #F0D9FF;
$color-primary-l3: #F9EFFF;

$color-qred: #FF004C;
$color-black: #000000;
$color-gray: #F2F2F2;

@font-face {
    font-family: NeueMachina-Ultrabold;
    src: url("../fonts/NeueMachina-Ultrabold.ttf");
  }

@font-face {
    font-family: NeueMachina-Bold;
    src: url("../fonts/NeueMachina-Bold.ttf");
  }

@font-face {
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway-Medium.ttf");
  }

@font-face {
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway-SemiBold.ttf");
  }

:root{
    font-size: 10px;
}

._lock {
    margin: 0;
    height: 100%;
    overflow: hidden
  }

#textdecor {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: rgb(119, 140, 140);

}
.container{
    max-width: 144rem;
    height: 223rem;
    background-color: red;
    margin-left: auto;
        margin-right: auto;

    .header{
        height: 687px;
        background-color: bisque;
        &__up{
            &__title{
                font-family: NeueMachina-Bold;
                font-size: 3.6rem;
                font-weight: 700;
                // line-height: 2.2rem;
            }
        }

        nav{
            height: 64px;
        }
        .adv{
            height: 535px;
        }
    }
    main{
        background-color: blue;

        height: 634px;
    }

    .cards{
        background-color: yellow;
        height: 656px;
    }

    footer{
        height: 253px;
        background-color: black;
    }
}


