@font-face {
  font-family: NeueMachina-Ultrabold;
  src: url("../fonts/NeueMachina-Ultrabold.ttf");
}
@font-face {
  font-family: NeueMachina-Bold;
  src: url("../fonts/NeueMachina-Bold.ttf");
}
@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}
:root {
  font-size: 10px;
}

._lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#textdecor {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.container {
  max-width: 144rem;
  height: 223rem;
  margin-left: auto;
  margin-right: auto;
}
.container .header {
  height: 535px;
}
.container .header__up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6.4rem;
  background-color: #F2F2F2;
  border-radius: 2.2rem;
}
.container .header__up__title {
  font-family: NeueMachina-Bold;
  font-size: 3.6rem;
  font-weight: 700;
}
.container .header__up__nav {
  margin: 0 10rem 0 7.2rem;
}
.container .header__up__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Raleway-Semibold;
  font-size: 2rem;
}
.container .header__up__nav-list__item {
  margin: 0 0 0 3rem;
}
.container .header__up__nav-list__link_active {
  border-bottom: solid 0.4rem #000000;
  border-radius: 3px;
}
.container .header__up__button {
  background-color: #000000;
  font-family: Raleway-Medium;
  font-size: 2rem;
  font-weight: 100;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 4.4rem;
  border-radius: 1.5rem;
  transition: 0.15s ease;
  cursor: pointer;
  border: none;
  outline: none;
}
.container .header__up__button:hover {
  box-shadow: none;
  background-color: #9E00FF;
}
.container .header__adv {
  position: relative;
  height: 471px;
}
.container .header__adv img {
  height: 36rem;
  border-radius: 3rem;
}
.container .header__adv__left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.container .header__adv__right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.container .header__adv__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9.4rem;
}
.container .header__adv__title {
  position: relative;
  font-family: NeueMachina-Bold;
  font-size: 9.6rem;
  font-weight: 700;
  z-index: 10;
}
.container .header__adv__title-subtitle {
  position: relative;
  font-family: Raleway-Semibold;
  font-size: 2rem;
  letter-spacing: 0.001rem;
  max-width: 65rem;
  text-align: center;
  margin: 3rem 0;
}
.container .header__adv__title-button {
  position: relative;
  background-color: #000000;
  font-family: Raleway-Medium;
  font-size: 2rem;
  font-weight: 100;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 4.4rem;
  border-radius: 1.5rem;
  transition: 0.15s ease;
  cursor: pointer;
  border: none;
  outline: none;
  width: 25rem;
}
.container .header__adv__title-button:hover {
  box-shadow: none;
  background-color: #9E00FF;
}
.container main {
  background-color: blue;
  height: 634px;
}
.container .cards {
  background-color: yellow;
  height: 656px;
}
.container footer {
  height: 253px;
  background-color: black;
}/*# sourceMappingURL=index.css.map */