$color-primary: #9E00FF;
$color-primary-light: #E9C4FF;
$color-primary-l2: #F0D9FF;
$color-primary-l3: #F9EFFF;

$color-qred: #FF004C;
$color-black: #000000;
$color-gray: #F2F2F2;

@font-face {
    font-family: NeueMachina-Ultrabold;
    src: url("../fonts/NeueMachina-Ultrabold.ttf");
  }

@font-face {
    font-family: NeueMachina-Bold;
    src: url("../fonts/NeueMachina-Bold.ttf");
  }

@font-face {
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway-Medium.ttf");
  }

@font-face {
    font-family: Raleway-SemiBold;
    src: url("../fonts/Raleway-SemiBold.ttf");
  }

@mixin button() {
    background-color: $color-black;
    font-family: Raleway-Medium;
    font-size: 2rem;
    font-weight: 100;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 4.4rem;
    border-radius: 1.5rem;
    transition: 0.15s ease;
    cursor: pointer;
    border: none;
    outline: none;
}

:root{
    font-size: 10px;
}

._lock {
    margin: 0;
    height: 100%;
    overflow: hidden
  }

#textdecor {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    color: inherit;
}
.container{
    max-width: 144rem;
    height: 223rem;
    margin-left: auto;
    margin-right: auto;

    .header{
        height: 535px;
        &__up{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 6.4rem;
            background-color: $color-gray;
            border-radius: 2.2rem;
            &__title{
                font-family: NeueMachina-Bold;
                font-size: 3.6rem;
                font-weight: 700;
            }

            &__nav{
                margin: 0 10rem 0 7.2rem;
                &-list{
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    font-family: Raleway-Semibold;
                    font-size: 2rem;
                    // font-weight: 200;

                    &__item {
                        // display: flex;
                        // align-items: center;
                        // margin:1.5rem;
                        margin:0 0 0 3rem;
                        // background-color: #FF004C;
                    }

                    &__link {
                        // font-size: 3.2rem;
                        // font-weight: 400;
                        // line-height: 160%;

                        // &_active {
                        //     border-bottom: solid 0.3rem $color-primary;
                        // }
                        &_active {
                            border-bottom: solid 0.4rem $color-black;
                            border-radius: 3px;
                            // margin: 3rem;
                        }
                    }
                }
            }
            &__button{
                @include button();
            }
            &__button:hover {
                box-shadow: none;
                background-color: $color-primary;
            }


        }

        &__adv{
            position: relative;
            // display: flex;
            // flex-direction: row;
            height: 471px;

            img{
                height: 36rem;
            }

            &__left{
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &__right{
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &__center{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 9.4rem;
                // margin-top: 9.5rem;
                // margin-bottom: 10rem;
            }
            &__title{
                position: relative;
                font-family: NeueMachina-Bold;
                font-size: 9.6rem;
                font-weight: 700;
                z-index: 10;
                &-subtitle{
                    position: relative;
                    font-family: Raleway-Semibold;
                    font-size: 2rem;
                    letter-spacing: 0.001rem;
                    max-width: 65rem;
                    text-align: center;
                    margin: 3rem 0;
                }
                &-button{
                    position: relative;
                    @include button();
                    width: 25rem;
                }
                &-button:hover {
                    box-shadow: none;
                    background-color: $color-primary;
                }
            }
        }
}
    main{
        background-color: blue;
        height: 634px;
    }

    .cards{
        background-color: yellow;
        height: 656px;
    }

    footer{
        height: 253px;
        background-color: black;
    }
}


